.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  /* color: #49557e; */
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: tomato;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid tomato;
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .cart-icon {
  position: relative;
  min-width: 30px;
  min-height: 30px;
}

.cart-icon-badge{
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: tomato;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.navbar-right .search-ic {
  position: relative;
  min-width: 30px;
  min-height: 30px;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

@media (max-width: 1050px) {
  .navabr .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 22px;
  }
  .navbar-right .search-ic {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
  .navbar button {
    padding: 0.2rem;
  }
}

@media (max-width: 900px) {
  .navabr .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 8px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 10px;
  }
  .navbar-right .search-ic {
    width: 10px;
  }
  .navbar-right button {
    padding: 3px 8px;
    font-size: 13px;
  }
  .navabr button{
    font-size: 1.25rem;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
